<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="row">
        <form method=post enctype=multipart/form-data>
            text:<br>
            <input type="text" name="text" , value="{{ O["text"] }}"><br>
            question_set_id:<br>
            <input type="number" name="question_id" , value="{{ O["question_id"] }}"><br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

</body>
</html>